@model Dashboard.Models.Sale

@{
    ViewData["Title"] = "Details";
    ViewData["Header"] = "Sale - Details";
}

<hr>

<div class="row mt5" style="margin-top:2rem;">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4><a asp-action="Index">Back to List</a></h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class = "col-sm-2">
                        Date
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.date)
                    </dd>
                    <dt class = "col-sm-2">
                        Reference No
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.reference_no)
                    </dd>
                    <dt class = "col-sm-2">
                        Customer
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.customer_.name)
                    </dd>
                    <dt class = "col-sm-2">
                        Biller
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.biller_.username)
                    </dd>
                    <dt class = "col-sm-2">
                        Sale Status
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.sale_status)
                    </dd>
                    <dt class = "col-sm-2">
                        Payment Status
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.payment_status)
                    </dd>
                    <dt class = "col-sm-2">
                        Payment Method
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.payment_method)
                    </dd>
                    <dt class = "col-sm-2">
                        Total
                    </dt>
                    <dd class = "col-sm-10">
                        @String.Format("{0:C}", Model.total)
                    </dd>
                    <dt class = "col-sm-2">
                        Discount
                    </dt>
                    <dd class = "col-sm-10">
                        @String.Format("{0:C}", Model.discount)
                    </dd>
                    <dt class = "col-sm-2">
                        Shipping
                    </dt>
                    <dd class = "col-sm-10">
                        @String.Format("{0:C}", Model.shipping)
                    </dd>
                    <dt class = "col-sm-2">
                        Grand Total
                    </dt>
                    <dd class = "col-sm-10">
                        @String.Format("{0:C}", Model.grand_total)
                    </dd>
                </dl>
                <button class="btn btn-primary tk_button_a">
                    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a>
                </button>
            </div>
        </div>
    </div>
</div>